.gallery {
  margin-top: 32px;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.card {
  background-color: #fff;
  overflow: hidden;
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  transition: all 200ms ease-in-out;
  &:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
  }
  &:active {
    transform: scale(0.97);
  }
}
.card img {
  width: 100%;
  height: 158px;
  object-fit: cover;
  object-position: center;
  display: block;
}
.card .descriptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  padding-left: 20px;
  height: 48px;
}
.descriptions p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  transition: all 200ms ease-in-out;
  &:hover {
    transform: scale(1.03);
  }
  & span {
    font-weight: 400;
    line-height: 2;
  }
}
